@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
}

.navbar {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 100px;
}
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

/* .banner span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #000000f0, #00000046);
} */

.hero {
  margin-top: 50px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #f00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.features {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature img {
  width: 100px;
  border-radius: 50%;
}

.feature h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.portfolio {
  text-align: center;
  padding: 40px;
}

.portfolio h2 {
  margin-bottom: 20px;
}

.gallery img {
  width: 300px;
  margin-bottom: 20px;
}

.footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
}
/* Rest of the CSS styles */

.video {
  background-color: #000;
  text-align: center;
  /* padding: 40px; */
  color: #fff;
}

.video h2 {
  margin-bottom: 20px;
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: auto;
}

/* image list style */

.image-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  @media screen and (max-width: 700px) {
    gap: 4px;
  }
}

.image-item {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* modal */

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  height: auto;
}

/* Button style to open the modal */
.open-modal-button {
  background-color: #bcbcbc;
  color: white;
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
}

/* Close button style */
.close-button {
  position: absolute;
  right: 5px;
  color: #888;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Close button on hover */
.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* media 700px */

/* animation btn */

.wrap_social {
  position: absolute;
  bottom: 60px;
  right: 20px;
  /* border: 1px solid red;
  margin-bottom: 200px; */
}
.animation_btn {
  position: relative;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
}
.animation_btn li {
  position: relative;
  list-style: none;
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}
.animation_btn li:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}
.animation_btn li:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}
.animation_btn li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px !important;
  transition: 1.5s ease-out;
}
.animation_btn li:hover span:nth-of-type(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
.animation_btn li:hover span:nth-of-type(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
.animation_btn li:hover span:nth-of-type(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
.animation_btn li:hover span:nth-of-type(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
.animation_btn li:hover span:nth-of-type(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}
.animation_btn li:nth-of-type(1):hover span {
  background: #1b74e4 !important;
}
.animation_btn li:nth-of-type(2):hover span {
  background: #ff0000 !important;
}
.animation_btn li:nth-of-type(3):hover span {
  background: #c13584 !important;
}
.animation_btn li:nth-of-type(4):hover span {
  background: #5ffc7b !important;
}

.animation_btn li:nth-of-type(1) span {
  color: #1b74e4;
}
.animation_btn li:nth-of-type(2) span {
  color: #ff0000;
}
.animation_btn li:nth-of-type(3) span {
  color: #c13584;
}
.animation_btn li:nth-of-type(4) span {
  color: #5ffc7b;
}
.animation_btn li:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* banner animation */

@keyframes fade {
  95% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

}

#banner_slide {
  animation: fade 7s infinite;
}

@media screen and (max-width: 700px) {
  .logo img {
    width: 70px;
  }
  .nav-links a {
    font-size: 12px;
  }
  .nav-links {
    padding: 0;
  }
  .navbar {
    width: 100%;
  }
  .banner img {
    height: 450px;
  }
}
