body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
}

.navbar {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 100px;
}
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  margin-top: 50px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #f00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.features {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature img {
  width: 100px;
  border-radius: 50%;
}

.feature h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.portfolio {
  text-align: center;
  padding: 40px;
}

.portfolio h2 {
  margin-bottom: 20px;
}

.gallery img {
  width: 300px;
  margin-bottom: 20px;
}

.footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
}
/* Rest of the CSS styles */

.video {
  background-color: #000;
  text-align: center;
  /* padding: 40px; */
  color: #fff;
}

.video h2 {
  margin-bottom: 20px;
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: auto;
}


/* image list style */

.image-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  @media screen and (max-width: 700px) {
    gap: 4px;
  }
}

.image-item {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* modal */

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  height: auto;
}

/* Button style to open the modal */
.open-modal-button {
  background-color: #bcbcbc;
  color: white;
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
}

/* Close button style */
.close-button {
  position: absolute;
  right: 5px;
  color: #888;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Close button on hover */
.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




/* media 700px */

@media screen and (max-width: 700px) {
  .logo img {
    width: 70px;
  }
  .nav-links a {
    font-size: 12px;
  }
  .nav-links{
    padding: 0;
  }
  .navbar{
    width: 100%;
  }
}